In [2]:
!pip install fiona
!pip install geopandas

Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 1.3MB/s
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona) (1.12.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona) (19.3.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona) (7.1.2)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Installing collected packages: click-plugins, munch, cligj, fiona
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 munch-2.5.0
Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/83/c5/3cf9cdc39a6f2552922f79915f36b45a95b71fd343cfc51170a5b6ddb6e8/geopandas-0.7.0-py2.py3-none-any.whl (928kB)
     |████████████████████████████████| 931kB 2.8MB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 17.1MB/s
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.13.post1)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.3)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.4)
Installing collected packages: pyproj, geopandas
Successfully installed geopandas-0.7.0 pyproj-2.6.1.post1

In [0]:
import pandas as pd
import numpy as np
import math

import geopandas
import json

import requests

from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar, NumeralTickFormatter
from bokeh.palettes import brewer

from bokeh.io.doc import curdoc
from bokeh.models import Slider, HoverTool, Select
from bokeh.layouts import widgetbox, row, column

In [15]:
raw= requests.get("https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases2_v1/FeatureServer/2/query?where=1%3D1&outFields=*&outSR=4326&f=json")
raw_json = raw.json()
d = pd.DataFrame(raw_json["features"])
d.head()

                                          attributes                                           geometry
0  {'OBJECTID': 1, 'Country_Region': 'Australia',...  {'x': 133.0000000000001, 'y': -24.999999999999...
1  {'OBJECTID': 2, 'Country_Region': 'Austria', '...  {'x': 14.550100000000045, 'y': 47.516200000000...
2  {'OBJECTID': 3, 'Country_Region': 'Canada', 'L...  {'x': -95.00099999999996, 'y': 60.00100000000003}
3  {'OBJECTID': 4, 'Country_Region': 'China', 'La...  {'x': 114.30550000000004, 'y': 30.592800000000...
4  {'OBJECTID': 5, 'Country_Region': 'Denmark', '...   {'x': 9.50180000000006, 'y': 56.263900000000035}

In [47]:
data_list = d["attributes"].tolist()
df = pd.DataFrame(data_list)
df.set_index("OBJECTID")
df = df[["Country_Region", "Lat", "Long_", "Confirmed", "Deaths", "Recovered"]]
df.head()

  Country_Region      Lat     Long_  Confirmed  Deaths  Recovered
0      Australia -25.0000  133.0000       7204     102       6619
1        Austria  47.5162   14.5501      16733     668      15596
2         Canada  60.0010  -95.0010      92479    7374      49214
3          China  30.5928  114.3055      84150    4638      79390
4        Denmark  56.2639    9.5018      11899     576      10610

In [17]:
df

         Country_Region        Lat       Long_  Confirmed  Deaths  Recovered
0             Australia -25.000000  133.000000       7204     102       6619
1               Austria  47.516200   14.550100      16733     668      15596
2                Canada  60.001000  -95.001000      92479    7374      49214
3                 China  30.592800  114.305500      84150    4638      79390
4               Denmark  56.263900    9.501800      11899     576      10610
..                  ...        ...         ...        ...     ...        ...
183  West Bank and Gaza  31.952200   35.233200        449       3        372
184      Western Sahara  24.215500  -12.885800          9       1          6
185               Yemen  15.552727   48.516388        323      80         14
186              Zambia -13.133897   27.849332       1089       7        912
187            Zimbabwe -19.015438   29.154857        178       4         29

[188 rows x 6 columns]

In [48]:
mapp=geopandas.read_file('custom.geo.json')
mapp.crs = {'init': 'epsg:4326'}

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [24]:
mapp

     scalerank  ...                                           geometry
0            3  ...  POLYGON ((-69.99694 12.57758, -69.93639 12.531...
1            3  ...  MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ...
2            3  ...  MULTIPOLYGON (((-61.77302 17.12653, -61.75642 ...
3            6  ...  POLYGON ((-79.98929 15.79495, -79.98782 15.796...
4            6  ...  POLYGON ((-62.83886 17.88198, -62.85094 17.890...
..         ...  ...                                                ...
240          5  ...  MULTIPOLYGON (((-176.20702 -22.33880, -176.210...
241          5  ...  MULTIPOLYGON (((179.90610 -9.41863, 179.90528 ...
242          1  ...  MULTIPOLYGON (((169.83815 -20.24863, 169.83009...
243          5  ...  MULTIPOLYGON (((-178.04674 -14.31260, -178.046...
244          3  ...  MULTIPOLYGON (((-171.57002 -13.93816, -171.564...

[245 rows x 67 columns]

In [0]:
mapp = mapp.rename(columns={'geometry': 'geometry','name':'Country_Region'}).set_geometry('geometry')

In [0]:
mapp.drop(mapp.columns.difference(['Country_Region','geometry']), 1, inplace=True)

In [51]:
mapp

                   Country_Region                                           geometry
0                           Aruba  POLYGON ((-69.99694 12.57758, -69.93639 12.531...
1                        Anguilla  MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ...
2               Antigua and Barb.  MULTIPOLYGON (((-61.77302 17.12653, -61.75642 ...
3    Bajo Nuevo Bank (Petrel Is.)  POLYGON ((-79.98929 15.79495, -79.98782 15.796...
4                   St-Barthélemy  POLYGON ((-62.83886 17.88198, -62.85094 17.890...
..                            ...                                                ...
240                         Tonga  MULTIPOLYGON (((-176.20702 -22.33880, -176.210...
241                        Tuvalu  MULTIPOLYGON (((179.90610 -9.41863, 179.90528 ...
242                       Vanuatu  MULTIPOLYGON (((169.83815 -20.24863, 169.83009...
243         Wallis and Futuna Is.  MULTIPOLYGON (((-178.04674 -14.31260, -178.046...
244                         Samoa  MULTIPOLYGON (((-171.57002 -13.93816, -171.564...

[245 rows x 2 columns]

In [52]:
mapp.crs = {'init': 'epsg:4326'}

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [53]:
mapp.crs = {'init': 'epsg:4326'}

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [0]:
merged = pd.merge(mapp, df, on='Country_Region', how='left')

In [58]:
merged.head()

                 Country_Region  ... Recovered
0                         Aruba  ...       NaN
1                      Anguilla  ...       NaN
2             Antigua and Barb.  ...       NaN
3  Bajo Nuevo Bank (Petrel Is.)  ...       NaN
4                 St-Barthélemy  ...       NaN

[5 rows x 7 columns]

In [0]:
values = {'Lat': 0, 'Long_': 0, 'Confirmed': 0,
              'Deaths': 0, 'Recovered': 0}
merged = merged.fillna(value=values)

In [61]:
merged

                   Country_Region  ... Recovered
0                           Aruba  ...       0.0
1                        Anguilla  ...       0.0
2               Antigua and Barb.  ...       0.0
3    Bajo Nuevo Bank (Petrel Is.)  ...       0.0
4                   St-Barthélemy  ...       0.0
..                            ...  ...       ...
240                         Tonga  ...       0.0
241                        Tuvalu  ...       0.0
242                       Vanuatu  ...       0.0
243         Wallis and Futuna Is.  ...       0.0
244                         Samoa  ...       0.0

[245 rows x 7 columns]

In [71]:
print (merged[78:90])

     Country_Region  ... Recovered
78  Siachen Glacier  ...       0.0
79            Japan  ...   14422.0
80       Kazakhstan  ...    5458.0
81       Kyrgyzstan  ...    1181.0
82         Cambodia  ...     123.0
83            Korea  ...       0.0
84           Kuwait  ...   12899.0
85          Lao PDR  ...       0.0
86          Lebanon  ...     715.0
87        Sri Lanka  ...     811.0
88            Macao  ...       0.0
89          Myanmar  ...       0.0

[12 rows x 7 columns]